<h1 class="mat-headline-2"> Milníky </h1>
<div class="milestones-container milestones-container-flex">
  @for(milestone of milestones; track milestone; let i = $index) {
    <app-milestone class="important main-milestone" #c_milestone
                   [icon]="milestone.icon"
                   [svgIcon]="milestone.svgIcon"
                   [headline]="milestone.headline"
                   [date]="milestone.date"
                   (appAppear)="onAppear(c_milestone)"
                   [rootMargin]="'0px'">
      @if(milestone.text) {
        <p> {{ milestone.text }} </p>
      }
      @if(milestone.subMilestones.length) {
        <button mat-button color="primary"
                class="unfold-button"
                [disabled]="unfoldedIndex === i"
                (click)="onToggleButtonClick(i)">
          Více
        </button>
      }
      <div class="scroll-target-top" #scrollTargetTop [attr.data-id]="i"></div>
      <div class="scroll-target-bottom" #scrollTargetBottom [attr.data-id]="i"></div>
    </app-milestone>
    <div [@collapse]="unfoldedIndex === i ? 'in' : 'out'"
         (@collapse.start)="scrollIntoView(i, $event)"
         class="milestones-container-flex"
         [class.unfolded]="unfoldedIndex === i && milestone.subMilestones.length !== 0"
         (appAppear)="onAppear(c_milestone)">
      @for(subMilestone of milestone.subMilestones; track subMilestone) {
        <app-milestone [appId]="i"
                       [component]="c_subMilestone"
                       [icon]="subMilestone.icon" #c_subMilestone
                       [svgIcon]="subMilestone.svgIcon"
                       [headline]="subMilestone.headline"
                       [date]="subMilestone.date"
                       (appAppear)="onAppear(c_subMilestone)"
                       [once]="false">
          @if(subMilestone.text) {
            <p> {{ subMilestone.text }} </p>
          }
        </app-milestone>
      }
    </div>
  }
</div>
