@use 'vars';

:host {
  .milestones-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      left: 34px;
      height: calc(100% - 72px);
      width: 4px;
      background: vars.$primary-200;
    }
  }
}
