@use 'vars';

:host {
  .milestones-container-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.unfolded {
      margin-bottom: 32px;
    }

    & > * {
      flex: 0 0 auto;
    }
  }

  app-milestone:not(:last-of-type) {
    margin-bottom: 32px;
  }

  .milestones-container {
    position: relative;
    padding-bottom: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      left: 34px;
      height: calc(100% - 72px);
      width: 4px;
      background: vars.$primary-200;
    }
  }

  .unfold-sub-milestones-button {
    height: 40px;
    margin-bottom: 32px;
    --font-size: 16px;
    font-size: var(--font-size);

    mat-icon {
      font-size: var(--font-size);
      height: var(--font-size);
      width: var(--font-size);
    }
  }

  .main-milestone {
    button {
      height: 28px;
      margin: -6px 0 12px,
    }
  }
}

