<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <div class="main">
      <div class="logo" mat-ripple>
        <img src="./assets/favicon.png" alt="logo"/>
      </div>
      <a class="link" mat-button routerLink="about"> O mně </a>
      <a class="link" mat-button routerLink="blog"> Blog </a>
      <a class="link" mat-button routerLink="career"> Moje Kariéra </a>
      <a class="link" mat-button routerLink="fit"> FIT </a>
    </div>
    <div class="filler"></div>
    <div class="socials">
      <a class="link" mat-ripple href="https://www.facebook.com/pavel.bastinec" target="_blank">
        <img src="./assets/images/socials/icons8-facebook.svg" alt="facebook" style="height: 4.8rem; width: 4.8rem"/>
      </a>
      <a class="link" mat-ripple href="https://www.instagram.com/pavelbastinec/" target="_blank">
        <img src="./assets/images/socials/icons8-instagram.svg" alt="instagram" style="height: 6rem; width: 6rem"/>
      </a>
      <a class="link" mat-ripple href="https://www.linkedin.com/in/pavel-ba%C5%A1tinec-1720b022a/" target="_blank">
        <img src="./assets/images/socials/icons8-linked-in.svg" alt="linked in" style="height: 6rem; width: 6rem"/>
      </a>
      <a class="link" mat-ripple href="https://github.com/MistrMxyzptlk" target="_blank">
        <img src="./assets/images/socials/icons8-github.svg" alt="github" style="height: 6rem; width: 6rem"/>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
