@use 'vars';

mat-toolbar {
  display: flex;
  padding-right: 1rem;
  align-items: center;
}

mat-toolbar-row {
  display: flex;
  padding: 0;
  width: vars.$page-width;
}

.main, .socials {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  gap: .1rem;
  align-items: center;
}

.main {
  .link:first-of-type {
    margin-left: 1rem;
  }
}

.socials {
  .link {
    color: white;
    padding: 0.6rem;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 1.2rem;

  cursor: pointer;
}

.filler {
  flex: 1 1 auto;
}

.logo {
  padding: .6rem;
}

.logo, .logo img {
  height: 4rem;
}
