<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <div class="main">
      <div class="logo">
        <img src="./assets/favicon.png" alt="logo"/>
      </div>
      <a class="link" mat-button routerLink="about"> O mně </a>
      <a class="link" mat-button routerLink="blog"> Blog </a>
      <a class="link" mat-button routerLink="career"> Moje Kariéra </a>
      <a class="link" mat-button routerLink="fit"> FIT </a>
    </div>
    <div class="filler"></div>
    <div class="socials">
      <a class="link" href="https://github.com/MistrMxyzptlk" target="_blank">
        <mat-icon [svgIcon]="'github'" inline></mat-icon>
      </a>
      <a class="link" href="https://www.linkedin.com/in/pavel-ba%C5%A1tinec-1720b022a/" target="_blank">
        <mat-icon [svgIcon]="'linkedin'" inline></mat-icon>
      </a>
      <a class="link" href="https://www.facebook.com/pavel.bastinec" target="_blank">
        <mat-icon [svgIcon]="'facebook'" inline></mat-icon>
      </a>
      <a class="link" href="https://www.instagram.com/pavelbastinec/" target="_blank">
        <mat-icon [svgIcon]="'instagram'" inline></mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
