<app-section-list>
  <app-section type='article'>
    <div class="introduction">
      <div class="text">
        <span>
          <h1> Pavel Baštinec </h1>
          <h2> Programátor a Student FIT ČVUT </h2>
          <p>
            V oboru už se pohybuji více jak 8 let a vývoj je mým koníčkem, vyzkoušel jsem si nepřeberné
            množství technologií, ale nejdůležitější z nich jsou pro mě .NET Core, Angular, Firebase, C/C++.
            Mám silné základy ve vysokoškolské matematice a znalost velkého množství algoritmů. Momentálně
            se soustředím na vývoj webů (Full Stack), ale osudy života jsou nevyzpytatelná a člověk nemůže
            být webařem na vždy.
          </p>
          <button mat-button color="primary" class="goto-button">
              Můj Životopis
              <mat-icon> arrow_forward </mat-icon>
          </button>
          <button mat-button color="accent" class="goto-button">
            Kontakt
            <mat-icon> contacts </mat-icon>
          </button>
        </span>
      </div>
      <img class="avatar" src="./assets/images/avatar/1.png" alt="avatar"/>
    </div>
  </app-section>
  <app-section type='article' class="features">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="100">
      <mat-grid-tile>
        <div class="feature mat-elevation-z3">
          <mat-icon svgIcon="html5"></mat-icon>
          <div class="text">
            <h2> Full stack </h2>
            <p>
              Věnuji se vývoji webů na pozici Full Stack
            </p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="feature mat-elevation-z3">
          <mat-icon class="material-100"> school_outline </mat-icon>
          <div class="text">
            <h2> Fiťák </h2>
            <p>
              Jsem zocelen FITem a nemám problém zvládat stres
            </p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="feature mat-elevation-z3">
          <mat-icon class="material-100"> group </mat-icon>
          <div class="text">
            <h2> Organizátor </h2>
            <p>
              Pomáhal jsem organizovat akce ve studenských spolcích
            </p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </app-section>
  <app-section type='article' class="milestones">
    <h1 class="mat-headline-2"> Milníky </h1>
  </app-section>
  <app-section type='article'> Section 4 </app-section>
</app-section-list>
