<app-section-list>
  <app-section type='article'>
    <div class="introduction">
      <div class="text">
        <span>
          <h1> Pavel Baštinec </h1>
          <h2> Programátor a Student FIT ČVUT </h2>
          <p>
            V oboru už se pohybuji více jak 8 let a vývoj je mým koníčkem, vyzkoušel jsem si nepřeberné
            množství technologií, ale nejdůležitější z nich jsou pro mě .NET Core, Angular, Firebase, C/C++.
            Mám silné základy ve vysokoškolské matematice a znalost velkého množství algoritmů. Momentálně
            se soustředím na vývoj webů (Full Stack), ale osudy života jsou nevyzpytatelná a člověk nemůže
            být webařem na vždy.
          </p>
        </span>
      </div>
      <img class="avatar" src="./assets/images/avatar/1.png" alt="avatar"/>
    </div>
  </app-section>
  <app-section type='article'> Section 2 </app-section>
  <app-section type='article'> Section 3 </app-section>
  <app-section type='article'> Section 4 </app-section>
</app-section-list>
