@use 'vars';

:host {
  display: block;
  position: relative;
  min-height: 72px;

  .scroll-target {
    position: absolute;
    top: -2rem;
  }

  --bubble-border-color: #{vars.$primary-300};
  --bubble-icon-color: #{vars.$primary-400};
  --bubble-background-color: white;
  --bubble-diametr: 56px;
  --text-font-size-base: 20px;
  --text-font-size-offset: 8px;


  &.important {
    --bubble-border-color: #{vars.$primary-300};
    --bubble-icon-color: #{vars.$accent-500};
    --bubble-background-color: #{vars.$accent-50};
    --bubble-diametr: 72px;
    --text-font-size-base: 24px;
    --text-font-size-offset: 12px;
  }

  .text {
    box-sizing: border-box;
    position: relative;

    margin-left: 100px;
    border: 2px solid vars.$primary-300;
    border-radius: 16px;
    padding: 0 16px;

    .header {
      display: flex;
      flex-direction: column;
      height: 68px;
      justify-content: center;

      h1 {
        font-size: var(--text-font-size-base);
        line-height: calc(var(--text-font-size-base) + 8px);
        margin-bottom: 0;
      }

      h2 {
        font-size: calc(var(--text-font-size-base) - var(--text-font-size-offset));
        line-height: calc(var(--text-font-size-base) - var(--text-font-size-offset));
        margin-bottom: 0;
      }

    }

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      right: calc(100% + 2px);
      height: 0;
      width: 0;
      border-color: transparent vars.$primary-200 transparent transparent;
      border-width: 11px;
      border-style: solid;
    }
  }

  .icon {
    display: flex;
    width: var(--bubble-diametr);
    height: var(--bubble-diametr);
    position: absolute;
    top: calc((72px - var(--bubble-diametr)) / 2);
    left: calc((72px - var(--bubble-diametr)) / 2);
    box-sizing: border-box;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

    background: var(--bubble-background-color);
    border: 4px solid var(--bubble-border-color);

    mat-icon {
      $icon-size: calc(var(--bubble-diametr) - 24px);
      font-size: $icon-size;
      line-height: $icon-size;
      height: $icon-size;
      width: $icon-size;
      color: var(--bubble-icon-color);
    }
  }
}
