:root {
  --page-top-offset: 3rem;
  --list-article-gap: 12rem;
  --page-width: calc(100% - 3rem);

  @media screen and (min-width: 960px) {
    --page-width: 85%;
  }

  @media screen and (min-width: 1280px) {
    --page-width: 65%;
    --page-top-offset: 4rem;
  }

  @media screen and (min-width: 1920px) {
    --page-width: 55%;
    --page-top-offset: 5rem;
  }

}

$page-width: var(--page-width);
$page-side-offset: var(--page-side-offset);
$page-top-offset: var(--page-top-offset);

$article-gap: var(--list-article-gap);
