:root {
  --page-top-offset: 4rem;
  --page-side-offset: 40px;

  @media screen and (min-width: 500px) {
    --page-side-offset: 20px;
  }

  @media screen and (min-width: 700px) {
    --page-side-offset: 80px;
  }

  @media screen and (min-width: 1200px) {
    --page-side-offset: 240px;
  }

  @media screen and (min-width: 1920px) {
    --page-side-offset: 280px;
  }
}

$page-side-offset: var(--page-side-offset);
$page-top-offset: var(--page-top-offset);
