<mat-grid-list cols="3" rowHeight="1:1" gutterSize="100">
  <mat-grid-tile [@slideInLeft]="slideIn">
    <div class="feature mat-elevation-z3">
      <mat-icon svgIcon="html5"></mat-icon>
      <div class="text">
        <h2> Full stack </h2>
        <p>
          Věnuji se vývoji webů na pozici Full Stack
        </p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [@zoomIn]="slideIn">
    <div class="feature mat-elevation-z3">
      <mat-icon class="material-100"> school_outline </mat-icon>
      <div class="text">
        <h2> Fiťák </h2>
        <p>
          Jsem zocelen FITem a nemám problém zvládat stres
        </p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [@slideInRight]="slideIn">
    <div class="feature mat-elevation-z3">
      <mat-icon class="material-100"> group </mat-icon>
      <div class="text">
        <h2> Organizátor </h2>
        <p>
          Pomáhal jsem organizovat akce ve studenských spolcích
        </p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
